<ul>
    <li (click)="allClick()">
        <a [routerLink]="['/product']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >All</a>
    </li>
    <li *ngFor="let category of categories">
        <a routerLinkActive="active" [routerLink]="['/product',category?.id]">{{category?.name}}</a>
    </li>
    <div class="navbar">
        <div class="button" routerLink="/wishlist">
            <i class="fa fa-heart icon" ></i> 
            <span [ngClass]="{'button__badge': wishlistItemCount > 0}">{{wishlistItemCount? wishlistItemCount : ''}}</span>
        </div>
        <div class="button" routerLink="/cart" >
            <i class="fa fa-shopping-cart icon"></i> 
           <span [ngClass]="{'button__badge': cartItemCount > 0}">{{cartItemCount? cartItemCount : ''}}</span>
        </div>
    </div>
</ul>