<div class="sidebar">

    <div class="filter-container">
        Enter Product Name:
        <input type="text" [(ngModel)]="searchTerm" (input)="filterBrands()" placeholder="Search..." >
    </div>

    <div class="rating-container">
        Ratings:
        <div *ngFor="let rating of ratings; let i = index" (click)="clickRating(i+1)" class="ratings">
            <span class="fa fa-star" [ngClass]="{'checked':i+1>=1}"></span>
            <span class="fa fa-star" [ngClass]="{'checked':i+1>=2}"></span>
            <span class="fa fa-star" [ngClass]="{'checked':i+1>=3}"></span>
            <span class="fa fa-star" [ngClass]="{'checked':i+1>=4}"></span>
            <span class="fa fa-star" [ngClass]="{'checked':i+1>=5}"></span>
            <span> & Up</span>
        </div>
    </div>

    <div class="filter-container">
        Price range:
        <div>
            <select id="options" [(ngModel)]="minPrice" (change)="onMinOptionSelection()">
               <option *ngFor="let min of minRangeOption" [value]="min">{{ min }}</option>
            </select>
        To
            <select id="options" [(ngModel)]="maxPrice" >
              <option *ngFor="let max of maxRangeOption" [value]="max">{{ max }}</option>
              <option value="50001">50000+</option>
            </select>
            <span class="btn-apply"> <button (click)="rangeSelectionApply()">Apply</button></span>
        </div>
    </div>   

    
    <div class="custom-select">
      <div class="select-dropdown">
        <input type="text" placeholder="Search fruits" [(ngModel)]="searchbrandTerm" (click)="toggleDropdown()" (keyup)="filterProducts()">
      </div>
        <select multiple (click)="onselectbrand($event)" [ngClass]="{'d-block':toggleDropdownFlag, 'd-none': !toggleDropdownFlag}">
          <ng-container *ngIf="brandOptions.length > 0; else noOptions">
            <option>Select fruits</option>
            <option *ngFor="let brand of brandOptions" [value]="brand.id">{{ brand.name }}</option>
          </ng-container>
          <ng-template #noOptions>
              <option>No brands available.</option>
          </ng-template>
        </select>
    </div>
</div>