<h1>Wishlisted Items</h1>
<div style ="display:flex; flex-wrap:wrap;" *ngIf="wishlistData.length !== 0; else errorTemplate"> 
    <div *ngFor="let product of wishlistData" style="flex: 0 0 20%;">
        <app-card
        [showWishlistButtonFlag] = false
        [showAddToCartButtonflag] = false
        [showRemoveWishlistItemButtonflag] = true
        [product] = product
        (onClickRemoveWishlistItemEvent) = "removeFromWishlistItem($event)"
        ></app-card>
    </div>
</div>
<ng-template #errorTemplate>
    <app-not-found
    [msg]= errorMessage>
    </app-not-found>
</ng-template>