<div class="side-nav">
    <app-filter></app-filter>
</div>
<div *ngIf="products.length !== 0; else errorTemplate">
    <div style ="display:flex; flex-wrap:wrap; justify-content: space-around; margin-bottom: 10px;" >
        <div *ngFor="let product of products" style="flex: 0 0 25%;">
            <app-card
            [showWishlistButtonFlag] = true
            [showAddToCartButtonflag] = true
            [showRemoveWishlistItemButtonflag] = false
            [product] = product
            (onClickWishlistEvent) = "onClickWishlist($event)"
            (onClickCartEvent) = "onClickCart($event)"
            ></app-card>
        </div>
    </div>
</div>
<ng-template #errorTemplate>
    <app-not-found
    [msg]= errorMessage>
    </app-not-found>
</ng-template>